/*=================== 분석 리포트 ====================*/
.title {
    margin: 5% 0 0 5%;
}

h1 a {
    color: black;
}

.report-header {
    display: flex;
    align-items: center;
    padding: 0 10% 0 20%;
    margin-top: 5%;
}

.report-header span {
    display: grid;
    width: 500px;
    border: 2px black solid;
    transform: translateY(-5px);
    margin-bottom: 10px;
}

.report-month {
    font-size: 18px;
    font-weight: 600;
    transform: translateY(-120%);
    margin-left: 10%;
}

.report-month h2 {
    margin-left: 55px;
}

.total-amount {
    text-align: center;
    width: 175px;
    height: 56px;
    color: white;
    background-color: black;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-radius: 9999px;
}

.chart {
    position: absolute;
    margin-left: -100%;
    width: 512px;
}

.analysis {
    font-size: 18px;
    margin-top: 10%;
    margin-left: 30%;
}

.details {
    display: grid;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
}

.details p {
    margin: 5px 0;
    font-size: 20px;
}

.details p span {
    display: inline;
    font-weight: bold;
    margin-left: 20px;
    border: none;
}

.rate {
    margin: 10px 0 20px 40px;
    font-size: 18px;
    color: lightslategray;
}

.arrow {
    display: block;
    text-align: center;
    font-size: 48px;
}

.cta {
    text-align: center;
    margin: 25% 0;
    font-size: x-large;
    font-weight: 600;
}

.cta p {
    line-height: 10px;
}

.cta span {
    color: rgb(0, 81, 255);
}

.footer {
    display: inline-block;
    width: 120px;
    height: 32px;
    font-size: 18px;
    border: 2.5px black solid;
    border-radius: 24px;
}

.footer p {
    display: inline;
    margin-left: 7px;
}

.footer p, .footer span {
    color: black;
}